In [2]:
# 31 Oct 2024 (Mode Fitting Output file) Gabbies and Nesrine code (Orignal Gabis and Nesrine code modified here fr my data actualy first of all tge output file is making by this code and then use it for Mode fitting)


# -*- coding: utf-8 -*-
"""
Created on Mon Mar 11 13:07:31 2024

@author: unfer
"""

import numpy as np
import pandas as pd
from datetime import datetime, timedelta ###CHANGE added timedelta
from lognormal_fit_multiprocessing_unfer_modified_TOL import Main as logf ###CHANGE lognormal_fit_multiprocessing_unfer -> lognormal_fit_multiprocessing_unfer_modified
from multiprocessing import Process

path1 = r"/Users/touqeergill/Desktop/1-Sectors Data.csv"
dados1 = pd.read_csv(path1, sep=',',engine='python') 
df1 = pd.DataFrame(dados1)
diameters_str = list(df1.columns[1:]) ### save diameters before replacing them with new column names

df1.index = df1['TimeOverLandBin']
df1 = df1.drop(['TimeOverLandBin'], axis=1)

df1.columns = pd.to_numeric(diameters_str) ### df1.columns -> diameters_str
df1.columns = df1.columns * 10 ** 9 ### change units from m to nm

### limit diameter
df1[df1.columns[df1.columns < 6]] = np.nan ### diameters <6nm to nan values
#df1.dropna(axis=1, inplace=True) ### drop columns with diameters <6nm
df1.drop(df1.columns[[0,1,2,3]], axis=1, inplace=True)

#####################################################################


year = "2017-2022"
month = "Jan-Dec"
dataframe = df1
main_instance = logf(dataframe, year, month)

init Main
Jan-Dec 2017-2022
no. of tasks,  90

[Parallel(n_jobs=-2)]: Using backend MultiprocessingBackend with 7 concurrent workers.
[Parallel(n_jobs=-2)]: Done  18 tasks      | elapsed:   42.7s

                    m1_A       m1_d   m1_s     m2_A       m2_d   m2_s  \
Timestamp (UTC)
8                1608.50  19.000000  1.438  1586.85  40.528090  1.510
9                    NaN        NaN  1.700  1606.90  37.760000  1.530
10               1572.08  19.000000  1.800   851.96  40.202247  1.438
11               1465.20  15.440000  1.740  1787.70  38.130000  1.507
12               1929.03  18.448276  1.800  1150.53  43.134831  1.438
...                  ...        ...    ...      ...        ...    ...
92                   NaN        NaN  1.620   428.00  28.390000  1.953
93                   NaN        NaN  1.403   514.50  27.110000  1.541
94               1047.59  15.137931  1.583   722.57  38.573034  1.438
95                   NaN        NaN  1.486   357.41  18.462185  1.679
96                   NaN        NaN  1.820  1130.10  50.320000  1.980

                    m3_A       m3_d   m3_s    m4_A        m4_d   m4_s     R2  \
Timestamp (UTC)
8                 258.35  94.000000  1.390  294.13  172.240803  1.438  0.982
9                 107.30  94.000000  1.311  291.20  166.220000  1.422  0.991
10                272.40  93.704698  1.366  216.90  176.254181  1.414  0.987
11                240.50  98.700000  1.476  264.80  170.230000  1.430  0.988
12                194.31  94.000000  1.269  299.59  166.220736  1.414  0.987
...                  ...        ...    ...     ...         ...    ...    ...
92               1761.00  72.190000  1.847  849.60  183.280000  1.478  0.971
93               1693.50  82.780000  1.810  598.90  173.240000  1.398  0.969
94                439.90  89.865772  1.366  554.11  205.351171  1.462  0.964
95               1288.12  94.000000  1.631  638.85  225.418060  1.510  0.983
96                497.90  88.460000  1.320  739.90  181.270000  1.454  0.985

                   PE  flag
Timestamp (UTC)
8                1.80   NaN
9                0.40   NaN
10               1.00   NaN
11               3.29   NaN
12               0.70   NaN
...               ...   ...
92               1.57   NaN
93               2.43   NaN
94               3.10   NaN
95               3.90   NaN
96               0.77   NaN

[89 rows x 15 columns]

********* FINISHED *********
Total time taken: 0:03:11.213217
****************************

[Parallel(n_jobs=-2)]: Done  89 out of  89 | elapsed:  3.2min finished

In [3]:
# -*- coding: utf-8 -*-
"""
Created on Mon Mar 11 13:07:31 2024

@author: unfer
"""

import numpy as np
import pandas as pd
from datetime import datetime, timedelta ###CHANGE added timedelta
from lognormal_fit_multiprocessing_unfer_modified_TOL import Main as logf ###CHANGE lognormal_fit_multiprocessing_unfer -> lognormal_fit_multiprocessing_unfer_modified
from multiprocessing import Process

path1 = r"/Users/touqeergill/Desktop/2-Sectors Data.csv"
dados1 = pd.read_csv(path1, sep=',',engine='python') 
df1 = pd.DataFrame(dados1)
diameters_str = list(df1.columns[1:]) ### save diameters before replacing them with new column names

df1.index = df1['TimeOverLandBin']
df1 = df1.drop(['TimeOverLandBin'], axis=1)

df1.columns = pd.to_numeric(diameters_str) ### df1.columns -> diameters_str
df1.columns = df1.columns * 10 ** 9 ### change units from m to nm

### limit diameter
df1[df1.columns[df1.columns < 6]] = np.nan ### diameters <6nm to nan values
#df1.dropna(axis=1, inplace=True) ### drop columns with diameters <6nm
df1.drop(df1.columns[[0,1,2,3]], axis=1, inplace=True)

#####################################################################


year = "2017-2022"
month = "Jan-Dec"
dataframe = df1
main_instance = logf(dataframe, year, month)

init Main
Jan-Dec 2017-2022
no. of tasks,  89

[Parallel(n_jobs=-2)]: Using backend MultiprocessingBackend with 7 concurrent workers.
[Parallel(n_jobs=-2)]: Done  18 tasks      | elapsed:   49.3s

                   m1_A   m1_d   m1_s    m2_A   m2_d   m2_s    m3_A   m3_d  \
Timestamp (UTC)
8                   NaN    NaN  1.717   162.6  34.19  1.251  1345.1  69.29
9                   NaN    NaN  1.620  2549.4  33.84  1.980   781.9  68.82
10               1648.7  10.72  1.478   684.6  31.61  1.350  2898.4  90.46
11               1313.0  20.29  1.860  2755.3  38.79  1.821  1297.7  85.93
12               1386.2  14.16  1.773  2743.7  46.73  1.927  1229.9  94.00
...                 ...    ...    ...     ...    ...    ...     ...    ...
91                  NaN    NaN  1.860  1306.5  51.03  1.661   422.9  94.00
92                  NaN    NaN  1.722  1268.1  42.79  1.589   512.1  89.30
93                  NaN    NaN  1.620   388.9  24.14  1.649  1223.2  75.55
94                  NaN    NaN  1.490   323.8  29.24  1.503  1195.6  68.26
95                  NaN    NaN  1.553   800.1  41.71  1.553     0.0  73.17

                  m3_s    m4_A    m4_d   m4_s     R2    PE  flag
Timestamp (UTC)
8                1.696  1852.7  174.53  1.413  0.986  3.58   NaN
9                1.358   933.1  185.28  1.405  0.943  4.13   NaN
10               1.613   572.9  175.25  1.398  0.998  0.87   NaN
11               1.413   718.8  189.30  1.381  0.986  0.90   NaN
12               1.576   402.0  200.33  1.374  0.983  5.27   NaN
...                ...     ...     ...    ...    ...   ...   ...
91               1.356   808.3  185.28  1.454  0.992  1.84   NaN
92               1.350   743.3  189.30  1.422  0.981  1.33   NaN
93               1.824   718.4  206.35  1.478  0.976  5.29   NaN
94               1.758   757.6  197.32  1.470  0.970  4.52   NaN
95               1.229   640.0  191.30  1.454  0.980  2.29   NaN

[88 rows x 15 columns]

********* FINISHED *********
Total time taken: 0:04:07.315669
****************************

[Parallel(n_jobs=-2)]: Done  88 out of  88 | elapsed:  4.1min finished

In [6]:
# -*- coding: utf-8 -*-
"""
Created on Mon Mar 11 13:07:31 2024

@author: unfer
"""

import numpy as np
import pandas as pd
from datetime import datetime, timedelta ###CHANGE added timedelta
from lognormal_fit_multiprocessing_unfer_modified_TOL import Main as logf ###CHANGE lognormal_fit_multiprocessing_unfer -> lognormal_fit_multiprocessing_unfer_modified
from multiprocessing import Process

path1 = r"/Users/touqeergill/Desktop/3-Sectors Data.csv"
dados1 = pd.read_csv(path1, sep=',',engine='python') 
df1 = pd.DataFrame(dados1)
diameters_str = list(df1.columns[1:]) ### save diameters before replacing them with new column names

df1.index = df1['TimeOverLandBin']
df1 = df1.drop(['TimeOverLandBin'], axis=1)

df1.columns = pd.to_numeric(diameters_str) ### df1.columns -> diameters_str
df1.columns = df1.columns * 10 ** 9 ### change units from m to nm

### limit diameter
df1[df1.columns[df1.columns < 6]] = np.nan ### diameters <6nm to nan values
#df1.dropna(axis=1, inplace=True) ### drop columns with diameters <6nm
df1.drop(df1.columns[[0,1,2,3]], axis=1, inplace=True)

#####################################################################


year = "2017-2022"
month = "Jan-Dec"
dataframe = df1
main_instance = logf(dataframe, year, month)

init Main
Jan-Dec 2017-2022
no. of tasks,  73

[Parallel(n_jobs=-2)]: Using backend MultiprocessingBackend with 7 concurrent workers.
[Parallel(n_jobs=-2)]: Done  18 tasks      | elapsed:   47.4s

                 m1_A  m1_d   m1_s     m2_A       m2_d   m2_s     m3_A  \
Timestamp (UTC)
24                NaN   NaN  1.207   438.40  30.090000  1.494   505.40
26                NaN   NaN  1.366  1726.25  49.000000  1.462  1379.54
27                NaN   NaN  1.100   326.00  24.561798  1.390  2332.76
28                NaN   NaN  1.297  1394.70  46.730000  1.940     0.00
29                NaN   NaN  1.800   170.24  31.218487  1.510   788.99
...               ...   ...    ...      ...        ...    ...      ...
92                NaN   NaN  1.728   587.57  23.873950  1.583  2170.50
93                NaN   NaN  1.631   608.13  23.487395  1.607  1620.93
94                NaN   NaN  1.860  1410.70  50.670000  1.747   444.00
95                NaN   NaN  1.740  1140.00  48.170000  1.553   361.70
96                NaN   NaN  1.860  1272.60  50.420000  1.600   374.10

                      m3_d   m3_s     m4_A        m4_d   m4_s     R2     PE  \
Timestamp (UTC)
24               73.030000  1.231  2006.00  177.260000  1.552  0.985   1.62
26               94.000000  1.438  1484.35  200.334448  1.438  0.974   5.90
27               91.046980  1.631  1273.39  206.354515  1.390  0.997   1.00
28               84.600000  1.186  1377.40  176.690000  1.492  0.874  10.69
29               94.000000  1.414   498.45  197.324415  1.366  0.945   9.10
...                    ...    ...      ...         ...    ...    ...    ...
92               81.302013  1.607   940.32  190.301003  1.438  0.972   6.00
93               76.872483  1.607   928.33  187.290970  1.462  0.952   6.70
94               94.000000  1.356   877.90  187.290000  1.454  0.990   2.24
95               94.000000  1.307   883.00  180.270000  1.422  0.989   0.73
96               98.700000  1.394   829.20  182.270000  1.446  0.993   2.43

                 flag
Timestamp (UTC)
24                NaN
26                NaN
27                NaN
28                NaN
29                NaN
...               ...
92                NaN
93                NaN
94                NaN
95                NaN
96                NaN

[72 rows x 15 columns]

********* FINISHED *********
Total time taken: 0:03:06.683709
****************************

[Parallel(n_jobs=-2)]: Done  72 out of  72 | elapsed:  3.1min finished

In [7]:
# -*- coding: utf-8 -*-
"""
Created on Mon Mar 11 13:07:31 2024

@author: unfer
"""

import numpy as np
import pandas as pd
from datetime import datetime, timedelta ###CHANGE added timedelta
from lognormal_fit_multiprocessing_unfer_modified_TOL import Main as logf ###CHANGE lognormal_fit_multiprocessing_unfer -> lognormal_fit_multiprocessing_unfer_modified
from multiprocessing import Process

path1 = r"/Users/touqeergill/Desktop/4-Sectors Data.csv"
dados1 = pd.read_csv(path1, sep=',',engine='python') 
df1 = pd.DataFrame(dados1)
diameters_str = list(df1.columns[1:]) ### save diameters before replacing them with new column names

df1.index = df1['TimeOverLandBin']
df1 = df1.drop(['TimeOverLandBin'], axis=1)

df1.columns = pd.to_numeric(diameters_str) ### df1.columns -> diameters_str
df1.columns = df1.columns * 10 ** 9 ### change units from m to nm

### limit diameter
df1[df1.columns[df1.columns < 6]] = np.nan ### diameters <6nm to nan values
#df1.dropna(axis=1, inplace=True) ### drop columns with diameters <6nm
df1.drop(df1.columns[[0,1,2,3]], axis=1, inplace=True)

#####################################################################


year = "2017-2022"
month = "Jan-Dec"
dataframe = df1
main_instance = logf(dataframe, year, month)

init Main
Jan-Dec 2017-2022
no. of tasks,  91

[Parallel(n_jobs=-2)]: Using backend MultiprocessingBackend with 7 concurrent workers.
[Parallel(n_jobs=-2)]: Done  18 tasks      | elapsed:   49.9s

                   m1_A   m1_d   m1_s     m2_A       m2_d   m2_s     m3_A  \
Timestamp (UTC)
7                   NaN    NaN  1.381   928.80  42.790000  1.511    26.40
8                2800.6  13.48  1.661  1259.80  49.000000  1.307   497.20
9                2551.6  10.19  1.741  1599.40  39.220000  1.478   196.40
10               3478.7   8.66  1.696  2316.20  45.420000  1.685    45.80
11               1593.4  11.84  1.980  2690.00  49.240000  1.649   201.40
...                 ...    ...    ...      ...        ...    ...      ...
92                  NaN    NaN  1.598   422.80  27.540000  1.576  1721.10
93                  NaN    NaN  1.620   304.50  29.240000  1.527  1256.30
94                  NaN    NaN  1.820  1128.40  47.340000  1.661   392.70
95                  NaN    NaN  1.780  1080.70  49.400000  1.647   276.90
96                  NaN    NaN  1.800  1311.09  45.741573  1.703   449.99

                  m3_d   m3_s   m4_A        m4_d   m4_s     R2    PE  flag
Timestamp (UTC)
7                94.00  1.100  331.4  138.130000  1.311  0.934  5.49   NaN
8                76.40  1.231  387.8  156.190000  1.454  0.992  0.53   NaN
9                80.32  1.250  214.1  169.230000  1.381  0.993  1.30   NaN
10               62.40  1.142  160.9  175.250000  1.381  0.994  1.94   NaN
11               45.00  1.620  356.9  158.190000  1.552  0.976  6.87   NaN
...                ...    ...    ...         ...    ...    ...   ...   ...
92               80.71  1.784  815.7  189.300000  1.446  0.977  2.01   NaN
93               72.75  1.768  701.0  188.290000  1.503  0.970  4.69   NaN
94               94.00  1.386  796.1  191.300000  1.478  0.993  1.03   NaN
95               89.30  1.381  778.4  190.300000  1.478  0.982  2.19   NaN
96               94.00  1.317  803.7  188.294314  1.462  0.974  4.80   NaN

[90 rows x 15 columns]

********* FINISHED *********
Total time taken: 0:03:48.457011
****************************

[Parallel(n_jobs=-2)]: Done  90 out of  90 | elapsed:  3.8min finished